In [ ]:
cd D:/Python/Projeto/

In [52]:
#importo as bibliotecas que irei usar
import pandas as pd

#Carregando base de dados no formato xls
pathFile = r"C:\Users\\Helainy\Downloads\versao_04_12_2024_BANCO_FIBRA.xlsx"
pathFilecsv = "\\C:\\Users\\Helainy\\Downloads\\versao_04_12_2024_BANCO_FIBRA.xlsx"

df = pd.read_excel(pathFile) #BANCO_FIBRA_NACIONAL_LIMPO_4ABR
#df2 = pd.read_excel(pathFilecsv)

In [55]:
# Exibir informações gerais sobre o DataFrame
print("### Informações do DataFrame ###")
print(df.info())

### Informações do DataFrame ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6568 entries, 0 to 6567
Columns: 249 entries, ID to Idade_CAT_10
dtypes: float64(217), int64(22), object(10)
memory usage: 12.5+ MB
None

In [60]:
# Contar valores nulos por coluna
print("\n### Contagem de valores nulos por coluna ###")
df.isnull().sum()

### Contagem de valores nulos por coluna ###

ID                    0
Q.5                 971
Q.6                   0
Cidade                0
Q.1                   0
                   ...
Pi                 6290
AF                 6290
Altura_CAT_FEM     2124
Altura_CAT_MASC    4491
Idade_CAT_10          0
Length: 249, dtype: int64

In [68]:
list(df.columns.values.tolist())

['ID',
 'Q.5',
 'Q.6',
 'Cidade',
 'Q.1',
 'Q.14',
 'IDADE',
 'SEXO',
 'MINIMENTAL_CALCULADO',
 'Q.42',
 'Q.43',
 'Q.44',
 'Q.45',
 'Q.46',
 'Q.49',
 'Q.50',
 'Q.51',
 'Q.51.a.2',
 'Q.51.a.3',
 'Q.51.a.4',
 'Q.51.a.5',
 'Q.51.a.6',
 'Q.51.a.7',
 'Q.52',
 'Q.53',
 'Q.53.a',
 'Q.54',
 'Q.55',
 'Q.56',
 'Q.57',
 'Q.59',
 'Q.60',
 'Q.61',
 'Q.62',
 'Q.63',
 'Q.64',
 'Q.65',
 'Q.66',
 'Q.67',
 'COMORBIDADES',
 'Q.68',
 'Q.69',
 'Q.71',
 'Q.71.a',
 'Q.72',
 'Q.73',
 'Q.74',
 'Q.74.a',
 'Q.75',
 'Q.75.a',
 'Q.77',
 'Q.77.a',
 'num_quedas',
 'QUEDA_RECORRENTE',
 'Q.78',
 'Q.79',
 'Q.79.a.1',
 'Q.79.a.2',
 'Q.79.a.3',
 'Q.79.a.5',
 'Q.80',
 'Q.81',
 'Polifarmácia',
 'Q.83',
 'Q.84',
 'Q.85',
 'Q.86',
 'Q.87',
 'Q.88',
 'Q.88.a',
 'Q.88.b',
 'Q.89',
 'Q.90',
 'Q.92',
 'Q.93',
 'Q.94',
 'Q.95',
 'Q.96',
 'Q.98',
 'Q.99',
 'Q.99.a',
 'Q.100',
 'Q.101',
 'Q.101.a',
 'AAVD_SOMA',
 'Q.122',
 'Q.123',
 'Q.124',
 'Q.125',
 'Q.126',
 'Q.127',
 'Q.128',
 'AIVD_Soma',
 'Q.129',
 'Q.130',
 'Q.131',
 'Q.132',
 'Q.133',
 'Q.134',
 'ABVD_Soma',
 'Q.135',
 'Q.135.a.1',
 'Q.135.a.2',
 'Q.135.a.3',
 'Q.135.a.4',
 'Q.135.a.5',
 'Q.135.a.6',
 'PESO',
 'ALTURA',
 'IMC',
 'Q.185.a',
 'Q.185.b',
 'Q.185.c',
 'FORCA_PICO_FORCA_PM',
 'Q.186.a',
 'Q.187',
 'Q.188',
 'Q.189',
 'Q.190',
 'Q.191',
 'Q.192',
 'Q.193',
 'Q.194',
 'Q.195',
 'Q.196',
 'Q.197',
 'Q.198',
 'Q.199',
 'Q.200',
 'Q.201',
 'Q.202',
 'FES_I_CAT',
 'SOMA_GDS',
 'GDS_CAT',
 'Q.219',
 'Q.220',
 'Q.221',
 'Q.222',
 'Q.223',
 'Q.224',
 'Q.225',
 'Q.226',
 'Q.227',
 'Q.228',
 'SGV_CAT',
 'gasto_calorico_sem_polo_campinas',
 'FRAGILIDADE_FADIGA',
 'FRAGILIDADE_PESO',
 'FRAGILIDADE_TEMPO_MARCHA',
 'FRAGILIDADE_FORCA',
 'FRAGILIDADE_ATIV_FISICA',
 'FRAGILIDADE',
 'SOMA_CRIT_FRAGILIDADE',
 'FRAGILIDADE_ATIV_FISICA_CIDADE',
 'AF_CAT',
 'filter_$',
 'Q42_CAT',
 'Q43_CAT',
 'Q89_CAT',
 'Q92_CAT',
 'Q95_CAT',
 'Q49_CAT',
 'Q50_CAT',
 'Q15_CAT',
 'Q88_CAT',
 'FES_I_PONTO_DE_CORTE',
 'Q54_CAT',
 'Q.122_CAT',
 'Q.123_CAT',
 'Q.124_CAT',
 'Q.125_CAT',
 'Q.126_CAT',
 'Q.127_CAT',
 'Q.128_CAT',
 'Q.219_CAT',
 'Q.220_CAT',
 'Q.221_CAT',
 'Q.222_CAT',
 'Q.223_CAT',
 'Q.224_CAT',
 'Q.225_CAT',
 'Q.226_CAT',
 'Q.227_CAT',
 'Q.228_CAT',
 'MEEM_CAT',
 'FPM_p25',
 'ABVD_CAT',
 'VM_1',
 'VM_2',
 'VM_3',
 'VM_media',
 'DIF_VM3_2',
 'POP_REF_MEEM',
 'POP_REF_ABVD',
 'POP_REF_FPM',
 'POP_REFERENCIA',
 'POP_VALIDACAO',
 'nome',
 'telefone',
 'Data_FibraI',
 'Data_FibraIII',
 'Morreu_bancototal',
 'Data_fal',
 'tempo_segmento_certo',
 'POP_REF',
 'Q.125a',
 'Q.151a',
 'Q.154a',
 'Q.162',
 'B1',
 'B2',
 'B2.1',
 'B3',
 'B3.1',
 'B4',
 'B4.1',
 'B5',
 'B6',
 'B7',
 'B8',
 'B9',
 'DMOTgcm²',
 'AdequaçãoTscoreT',
 'AdequaçãoZscoreT',
 'TscoreT',
 'ZscoreT',
 'MassaGordaTg',
 'MassaMagraTg',
 'MassaTotaliDXAg',
 'MassagordaBg',
 'MassamagraBg',
 'MassagordaPg',
 'MassamagraPg',
 'MassagordaTrg',
 'MassamagraTrg',
 'MassagordaAg',
 'MassamagraAg',
 'MassagordaGg',
 'MassamagraGg',
 'BIA_SMM',
 'DEXA_MASCULINO_ASMM',
 'DEXA_MASCULINO_ASMM_H2_KG',
 'DEXA_FEMININO_ASMM_H2',
 'DEXA_FEMININO_ASMM_H2_KG',
 'Pi',
 'AF',
 'Altura_CAT_FEM',
 'Altura_CAT_MASC',
 'Idade_CAT_10']

In [64]:
# Contar valores em branco por coluna
df.head()

,ID,Q.5,Q.6,Cidade,Q.1,Q.14,IDADE,SEXO,MINIMENTAL_CALCULADO,Q.42,...,BIA_SMM,DEXA_MASCULINO_ASMM,DEXA_MASCULINO_ASMM_H2_KG,DEXA_FEMININO_ASMM_H2,DEXA_FEMININO_ASMM_H2_KG,Pi,AF,Altura_CAT_FEM,Altura_CAT_MASC,Idade_CAT_10
0,50570,Unicamp,Campinas,5,#NULL!,1944-01-11 00:00:00,65,0,23,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
1,40293,NaN,Campina Grande,4,#NULL!,1943-05-10 00:00:00,65,0,24,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
2,150091,UFMG,Santa Cruz,15,2009-08-06 00:00:00,1940-03-13 00:00:00,69,0,30,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
3,120188,Unicamp,Poços Caldas,12,#NULL!,1940-03-29 00:00:00,69,0,25,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0
4,30543,Unicamp,Belem,2,#NULL!,1942-05-03 00:00:00,66,0,28,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0

In [74]:
# Criar novo DataFrame com estatísticas das colunas
df_summary = pd.DataFrame({
    'Coluna': df.columns,
    'Qtd_Nulos': df.isnull().sum().values,
    'Qtd_Distintos': df.nunique().values,
    'Qtd_Vazios': (df == "").sum().values
})

In [76]:
df_summary

              Coluna  Qtd_Nulos  Qtd_Distintos  Qtd_Vazios
0                 ID          0           6568           0
1                Q.5        971              4           0
2                Q.6          0             16           0
3             Cidade          0             16           0
4                Q.1          0            327           0
..               ...        ...            ...         ...
244               Pi       6290              1           0
245               AF       6290            266           0
246   Altura_CAT_FEM       2124              3           0
247  Altura_CAT_MASC       4491              3           0
248     Idade_CAT_10          0              3           0

[249 rows x 4 columns]

In [78]:
output_file = r"C:\Users\\Helainy\Downloads\RESUMO_BANCO_FIBRA.xlsx"

In [80]:
df_summary.to_excel(output_file, index=False, sheet_name="Resumo")